@import "tailwindcss";

@theme {
  --font-display: "Orbitron", sans-serif;
  --font-body: "Inter", sans-serif;
  --color-cyberblue: #00FFF7;
  --color-scarlet: #FF3B3B;
  --color-bgdark: #0B0F17;
}

@layer utilities {
  @keyframes blink {
    0%,100% { opacity: 1 }
    50% { opacity: 0 }
  }
  .animate-blink { animation: blink 1s step-start infinite; }
  
  .font-orbitron { font-family: var(--font-display); }
  .font-inter    { font-family: var(--font-body); }
}
